<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLocationLabel" jhiTranslate="fmsApp.location.home.createOrEditLabel">Create or edit a Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!location.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="location.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.location.county" for="field_county">County</label>
            <input type="text" class="form-control" name="county" id="field_county"
                [(ngModel)]="location.county" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.location.jobseeker" for="field_jobseeker">Jobseeker</label>
            <select class="form-control" id="field_jobseeker" name="jobseeker" [(ngModel)]="location.jobseeker" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobseekerOption.id === location.jobseeker?.id ? location.jobseeker : jobseekerOption" *ngFor="let jobseekerOption of jobseekers; trackBy: trackJobseekerById">{{jobseekerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.location.vacancy" for="field_vacancy">Vacancy</label>
            <select class="form-control" id="field_vacancy" name="vacancy" [(ngModel)]="location.vacancy" >
                <option [ngValue]="null"></option>
                <option [ngValue]="vacancyOption.id === location.vacancy?.id ? location.vacancy : vacancyOption" *ngFor="let vacancyOption of vacancies; trackBy: trackVacancyById">{{vacancyOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
