<div>
    <h2>
        <span jhiTranslate="fmsApp.consultingExperience.home.title">Consulting Experiences</span>
        <button class="btn btn-primary float-right jh-create-entity create-consulting-experience" [routerLink]="['/', { outlets: { popup: ['consulting-experience-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fmsApp.consultingExperience.home.createLabel">
            Create new Consulting Experience
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="consultingExperiences">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.consultingExperience.yearsConsulting">Years Consulting</span></th>
            <th><span jhiTranslate="fmsApp.consultingExperience.jobseeker">Jobseeker</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let consultingExperience of consultingExperiences ;trackBy: trackId">
                <td><a [routerLink]="['../consulting-experience', consultingExperience.id ]">{{consultingExperience.id}}</a></td>
                <td>{{consultingExperience.yearsConsulting}}</td>
                <td>
                    <div *ngIf="consultingExperience.jobseeker">
                        <a [routerLink]="['../jobseeker', consultingExperience.jobseeker?.id ]" >{{consultingExperience.jobseeker?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../consulting-experience', consultingExperience.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consulting-experience/'+ consultingExperience.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'consulting-experience/'+ consultingExperience.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
