<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myJobseekerComplianceLabel" jhiTranslate="fmsApp.jobseekerCompliance.home.createOrEditLabel">Create or edit a Jobseeker Compliance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!jobseekerCompliance.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="jobseekerCompliance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.jobseekerCompliance.dateCompliance" for="field_dateCompliance">Date Compliance</label>
            <div class="input-group">
                <input id="field_dateCompliance" type="text" class="form-control" name="dateCompliance" ngbDatepicker  #dateComplianceDp="ngbDatepicker" [(ngModel)]="jobseekerCompliance.dateCompliance"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateComplianceDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.jobseekerCompliance.answerCompliance" for="field_answerCompliance">Answer Compliance</label>
            <input type="checkbox" class="form-control" name="answerCompliance" id="field_answerCompliance"
                [(ngModel)]="jobseekerCompliance.answerCompliance" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.jobseekerCompliance.jobseeker" for="field_jobseeker">Jobseeker</label>
            <select class="form-control" id="field_jobseeker" name="jobseeker" [(ngModel)]="jobseekerCompliance.jobseeker" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobseekerOption.id === jobseekerCompliance.jobseeker?.id ? jobseekerCompliance.jobseeker : jobseekerOption" *ngFor="let jobseekerOption of jobseekers; trackBy: trackJobseekerById">{{jobseekerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
