
<div *ngIf="jobseekerCompliance">
    <h2><span jhiTranslate="fmsApp.jobseekerCompliance.detail.title">Jobseeker Compliance</span> {{jobseekerCompliance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fmsApp.jobseekerCompliance.dateCompliance">Date Compliance</span></dt>
        <dd>
            <span>{{jobseekerCompliance.dateCompliance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.jobseekerCompliance.answerCompliance">Answer Compliance</span></dt>
        <dd>
            <span>{{jobseekerCompliance.answerCompliance}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.jobseekerCompliance.jobseeker">Jobseeker</span></dt>
        <dd>
            <div *ngIf="jobseekerCompliance.jobseeker">
                <a [routerLink]="['/jobseeker', jobseekerCompliance.jobseeker?.id]">{{jobseekerCompliance.jobseeker?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'jobseeker-compliance/'+ jobseekerCompliance.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
