<div>
    <h2>
        <span jhiTranslate="fmsApp.jobseekerImage.home.title">Jobseeker Images</span>
        <button class="btn btn-primary float-right jh-create-entity create-jobseeker-image" [routerLink]="['/', { outlets: { popup: ['jobseeker-image-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fmsApp.jobseekerImage.home.createLabel">
            Create new Jobseeker Image
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="jobseekerImages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.jobseekerImage.imageLink">Image Link</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobseekerImage of jobseekerImages ;trackBy: trackId">
                <td><a [routerLink]="['../jobseeker-image', jobseekerImage.id ]">{{jobseekerImage.id}}</a></td>
                <td>{{jobseekerImage.imageLink}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jobseeker-image', jobseekerImage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jobseeker-image/'+ jobseekerImage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jobseeker-image/'+ jobseekerImage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
