<div>
    <jhi-alert></jhi-alert>
    <div class="row" *ngIf="jobseeker">
    	<div class="col-sm-3" *ngIf="jobseeker.image; else noImage">
        	<a [routerLink]="['../jobseeker-image', jobseeker.image?.id ]" >{{jobseeker.image?.id}}</a>
        </div>
        <ng-template #noImage>
        	<div class="col-sm-3">
        		<button type="submit" *ngIf="jobseeker.image; else changeImage"
                    class="btn btn-light btn-sm">
                    <span class="fa fa-picture-o"></span>
                    <span class="d-none d-md-inline">Add Image</span>
                </button>
        	</div>
        </ng-template>
    	<div class="col-sm-9">
    		<h3>{{jobseeker.firstName}} {{jobseeker.lastName}}</h3>
    		<div *ngIf="jobseeker.presentation">
            	<p [routerLink]="['../presentation', jobseeker.presentation?.id ]" >{{jobseeker.presentation?.presentation}}</p>
            </div>
    	</div>
    </div>
    <div class="row" *ngIf="jobseeker">
        <div class="col-sm" >
            <button type="submit" *ngIf="jobseeker.image; else changeImage"
                class="btn btn-light btn-sm">
                <span class="fa fa-picture-o"></span>
                <span class="d-none d-md-inline">Change Image</span>
            </button>
            <ng-template #changeImage>
            </ng-template>
            <button type="submit" 
                class="btn btn-light btn-sm">
                <span class="fa fa-pencil-square-o"></span>
                <span class="d-none d-md-inline">Change Presentation</span>
            </button>
            <button type="submit" 
                class="btn btn-light btn-sm">
                <span class="fa fa-file"></span>
                <span class="d-none d-md-inline">Change Private Information</span>
            </button>
        </div>
    </div>
    <br>
    <div class="row">
    	<div class="col-sm-8">
    	<!-- Main content -->
	    	<div *ngIf="jobseeker.workExperiences">
	    			<div class="card"*ngFor="let workExperience of jobseeker.workExperiences">
	  					<div class="card-body">
		    				<h5 class="card-title">{{workExperience.companyName}}</h5>
		    				<h6 class="card-subtitle mb-2 text-muted">{{workExperience.position}} <span>{{workExperience.startDate | date:'dd/MM/yy'}} - {{workExperience.endDate | date:'dd/MM/yy'}} {{workExperience.startDate | duration: workExperience.endDate}} år</span></h6>
		    				<p class="card-text">{{workExperience.description}}                                
                                <button type="submit" class="btn btn-light btn-sm float-right">
                                    <span class="fa fa-pencil-square-o"></span>
                                </button>
                            </p>
	  					</div>
					</div>
					<br>
	    	</div>
	    	<div *ngIf="jobseeker.educations">
	    			<div class="card" *ngFor="let education of jobseeker.educations">
	  					<div class="card-body">
		    				<h5 class="card-title">{{education.institution}}
                                <button type="submit" class="btn btn-light btn-sm float-right">
                                    <span class="fa fa-pencil-square-o"></span>
                                </button>
                            </h5>
		    				<h6 class="card-subtitle mb-2 text-muted">{{education.program}} - {{education.degree.degreeType}} degree <span>{{education.startDate | date:'dd/MM/yy'}} - {{education.endDate | date:'dd/MM/yy'}} {{education.startDate | duration: education.endDate}} år</span></h6>
	  					</div>
					</div>
					<br>
	    	</div>
            <button type="submit" 
                class="btn btn-light btn-sm">
                <span class="fa fa-graduation-cap"></span>
                <span class="d-none d-md-inline">Add Education</span>
            </button>
            <button type="submit" 
                class="btn btn-light btn-sm">
                <span class="fa fa-briefcase"></span>
                <span class="d-none d-md-inline">Add Work Experience</span>
            </button>
    	<!-- END Main content -->
    	</div>
    	<div class="col-sm-4">
    	<!-- Side content -->
    		<div *ngIf="jobseeker.consultingExperiences">
    			<div class="card">
    				<div class="card-header">Consulting experience in years</div>
				  	<ul class="list-group list-group-flush" *ngFor="let consultingExperience of jobseeker.consultingExperiences">
				    	<li class="list-group-item">{{consultingExperience.yearsConsulting}}
                            <button type="submit" 
                                class="btn btn-light btn-sm float-right">
                                <span class="fa fa-pencil-square-o"></span>
                            </button>
                        </li>
				  	</ul>
				</div>
    		</div>
    		<br>
    		<div *ngIf="jobseeker.skills">
    			<div class="card">
    				<div class="card-header">Skills</div>
				  	<ul class="list-group list-group-flush" *ngFor="let skill of jobseeker.skills">
				    	<li class="list-group-item">{{skill.skillName}} - {{skill.skillLevel}}
                            <button type="submit" class="btn btn-light btn-sm float-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </li>
				  	</ul>
                    <button type="submit" class="btn btn-light btn-sm align-self-end">
                        <span class="fa fa-plus"></span>
                    </button>
				</div>
    		</div>
    		<br>
    		<div *ngIf="jobseeker.branches">
    			<div class="card">
    				<div class="card-header">Previus branches</div>
				  	<ul class="list-group list-group-flush" *ngFor="let branche of jobseeker.branches">
				    	<li class="list-group-item">{{branche.branchName}}
                            <button type="submit" class="btn btn-light btn-sm float-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </li>
				  	</ul>
                    <button type="submit" class="btn btn-light btn-sm align-self-end">
                        <span class="fa fa-plus"></span>
                    </button>
				</div>
    		</div>
    		<br>
    		<div *ngIf="jobseeker.roles">
    			<div class="card">
    				<div class="card-header">Previus roles</div>
				  	<ul class="list-group list-group-flush" *ngFor="let role of jobseeker.roles">
				    	<li class="list-group-item">{{role.roleName}}
                            <button type="submit" class="btn btn-light btn-sm float-right">
                                <span class="fa fa-times"></span>
                            </button>
                        </li>
				  	</ul>
                    <button type="submit" class="btn btn-light btn-sm align-self-end">
                        <span class="fa fa-plus"></span>
                    </button>
				</div>
    		</div>
    	<!-- END Side content -->
    	</div>    	
    </div>
    <br/>
<!--
    <div class="table-responsive">
        <table class="table table-striped">
       
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.regestrationDate">Regestration Date</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.birthYear">Birth Year</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.firstName">First Name</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.lastName">Last Name</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.unemployed">Unemployed</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.lastActive">Last Active</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.user">User</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.image">Image</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.video">Video</span></th>
            <th><span jhiTranslate="fmsApp.jobseeker.presentation">Presentation</span></th>
            <th></th>
            </tr>
            </thead>
            *ngFor="let workExperiences of jobseeker ;trackBy: trackId"
         
            <tbody>
            <tr *ngIf="jobseeker">
                <td><a [routerLink]="['../jobseeker-profile', jobseeker.id ]">{{jobseeker.id}}</a></td>
                <td>{{jobseeker.regestrationDate | date:'mediumDate'}}</td>
                <td>{{jobseeker.birthYear | date:'mediumDate'}}</td>
                <td>{{jobseeker.firstName}}</td>
                <td>{{jobseeker.lastName}}</td>
                <td>{{jobseeker.unemployed}}</td>
                <td>{{jobseeker.lastActive | date:'mediumDate'}}</td>
                <td>
                    {{jobseeker.user?.id}}
                </td>
                <td>
                    <div *ngIf="jobseeker.image">
                        <a [routerLink]="['../jobseeker-image', jobseeker.image?.id ]" >{{jobseeker.image?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobseeker.video">
                        <a [routerLink]="['../jobseeker-video', jobseeker.video?.id ]" >{{jobseeker.video?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobseeker.presentation">
                        <a [routerLink]="['../presentation', jobseeker.presentation?.id ]" >{{jobseeker.presentation?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../jobseeker', jobseeker.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jobseeker/'+ jobseeker.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'jobseeker/'+ jobseeker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    -->
</div>