
<div *ngIf="email">
    <h2><span jhiTranslate="fmsApp.email.detail.title">Email</span> {{email.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fmsApp.email.emailAddress">Email Address</span></dt>
        <dd>
            <span>{{email.emailAddress}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.email.emailType">Email Type</span></dt>
        <dd>
            <span>{{email.emailType}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.email.jobseeker">Jobseeker</span></dt>
        <dd>
            <div *ngIf="email.jobseeker">
                <a [routerLink]="['/jobseeker', email.jobseeker?.id]">{{email.jobseeker?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
