<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmailLabel" jhiTranslate="fmsApp.email.home.createOrEditLabel">Create or edit a Email</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!email.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="email.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.email.emailAddress" for="field_emailAddress">Email Address</label>
            <input type="text" class="form-control" name="emailAddress" id="field_emailAddress"
                [(ngModel)]="email.emailAddress" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.email.emailType" for="field_emailType">Email Type</label>
            <input type="text" class="form-control" name="emailType" id="field_emailType"
                [(ngModel)]="email.emailType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.email.jobseeker" for="field_jobseeker">Jobseeker</label>
            <select class="form-control" id="field_jobseeker" name="jobseeker" [(ngModel)]="email.jobseeker" >
                <option [ngValue]="null"></option>
                <option [ngValue]="jobseekerOption.id === email.jobseeker?.id ? email.jobseeker : jobseekerOption" *ngFor="let jobseekerOption of jobseekers; trackBy: trackJobseekerById">{{jobseekerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
