
<div *ngIf="employeerCompliance">
    <h2><span jhiTranslate="fmsApp.employeerCompliance.detail.title">Employeer Compliance</span> {{employeerCompliance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fmsApp.employeerCompliance.dateCompliance">Date Compliance</span></dt>
        <dd>
            <span>{{employeerCompliance.dateCompliance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.employeerCompliance.answerCompliance">Answer Compliance</span></dt>
        <dd>
            <span>{{employeerCompliance.answerCompliance}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.employeerCompliance.employeer">Employeer</span></dt>
        <dd>
            <div *ngIf="employeerCompliance.employeer">
                <a [routerLink]="['/employeer', employeerCompliance.employeer?.id]">{{employeerCompliance.employeer?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'employeer-compliance/'+ employeerCompliance.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
