<div>
    <h2>
        <span jhiTranslate="fmsApp.extent.home.title">Extents</span>
        <button class="btn btn-primary float-right jh-create-entity create-extent" [routerLink]="['/', { outlets: { popup: ['extent-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fmsApp.extent.home.createLabel">
            Create new Extent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="extents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.extent.extentDescription">Extent Description</span></th>
            <th><span jhiTranslate="fmsApp.extent.jobseeker">Jobseeker</span></th>
            <th><span jhiTranslate="fmsApp.extent.vacancy">Vacancy</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extent of extents ;trackBy: trackId">
                <td><a [routerLink]="['../extent', extent.id ]">{{extent.id}}</a></td>
                <td>{{extent.extentDescription}}</td>
                <td>
                    <div *ngIf="extent.jobseeker">
                        <a [routerLink]="['../jobseeker', extent.jobseeker?.id ]" >{{extent.jobseeker?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="extent.vacancy">
                        <a [routerLink]="['../vacancy', extent.vacancy?.id ]" >{{extent.vacancy?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../extent', extent.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extent/'+ extent.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'extent/'+ extent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
