<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEmployeerLabel" jhiTranslate="fmsApp.employeer.home.createOrEditLabel">Create or edit a Employeer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!employeer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="employeer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.employeer.employeerName" for="field_employeerName">Employeer Name</label>
            <input type="text" class="form-control" name="employeerName" id="field_employeerName"
                [(ngModel)]="employeer.employeerName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.employeer.lastActive" for="field_lastActive">Last Active</label>
            <div class="input-group">
                <input id="field_lastActive" type="text" class="form-control" name="lastActive" ngbDatepicker  #lastActiveDp="ngbDatepicker" [(ngModel)]="employeer.lastActive"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="lastActiveDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.employeer.companyRegistrationNumber" for="field_companyRegistrationNumber">Company Registration Number</label>
            <input type="text" class="form-control" name="companyRegistrationNumber" id="field_companyRegistrationNumber"
                [(ngModel)]="employeer.companyRegistrationNumber" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="fmsApp.employeer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="employeer.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === employeer.user?.id ? employeer.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
