<div>
	<jhi-alert></jhi-alert>
	<div class="row" *ngIf="employeer">
		<div class="col-sm">
		</div>
		<div class="col-sm">
			<h3>{{employeer}}</h3>
            <h3>{{employeer.employeerName}}</h3>
		</div>
	</div>
<!-- 
    <h2>
        <span jhiTranslate="fmsApp.employeer.home.title">Employeers</span>
        <button class="btn btn-primary float-right jh-create-entity create-employeer" [routerLink]="['/', { outlets: { popup: ['employeer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fmsApp.employeer.home.createLabel">
            Create new Employeer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.employeer.employeerName">Employeer Name</span></th>
            <th><span jhiTranslate="fmsApp.employeer.lastActive">Last Active</span></th>
            <th><span jhiTranslate="fmsApp.employeer.companyRegistrationNumber">Company Registration Number</span></th>
            <th><span jhiTranslate="fmsApp.employeer.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeer of employeers ;trackBy: trackId">
                <td><a [routerLink]="['../employeer', employeer.id ]">{{employeer.id}}</a></td>
                <td>{{employeer.employeerName}}</td>
                <td>{{employeer.lastActive | date:'mediumDate'}}</td>
                <td>{{employeer.companyRegistrationNumber}}</td>
                <td>
                    {{employeer.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employeer', employeer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employeer/'+ employeer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employeer/'+ employeer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    -->
</div>
