<div>
	<jhi-alert></jhi-alert>
	<div class="row" *ngIf="employeer">
        <div class="col-sm-3" *ngIf="employeer?.image; else noImage">
            <a [routerLink]="['../employeer-image', employeer.image?.id ]" >{{jobseeker.image?.id}}</a>
        </div>
        <ng-template #noImage>
            <div class="col-sm-3">
                <button type="submit" 
                    class="btn btn-light btn-sm">
                    <span class="fa fa-picture-o"></span>
                    <span class="d-none d-md-inline">Add Logo</span>
                </button>
            </div>
        </ng-template>
		<div class="col-sm-9">
            <h6>CRN: {{employeer.companyRegistrationNumber}}</h6>
            <h3>{{employeer.employeerName}}</h3>
		</div>
	</div>
    <div class="row" *ngIf="employeer">
        <div class="col-sm" *ngIf="employeer?.image; else changeLogo">
            <button type="submit" 
                class="btn btn-light btn-sm">
                <span class="fa fa-picture-o"></span>
                <span class="d-none d-md-inline">Change Logo</span>
            </button>
        </div>
        <ng-template #changeLogo>
            <div class="col-sm">
            </div>
        </ng-template>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div *ngIf="employeer?.vacancies">
                <div class="card"*ngFor="let vacancie of employeer?.vacancies ;trackBy: trackVacancyId">
                    <div class="card-body">
                        <h5 class="card-title">{{vacancie?.vacancieRole}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{vacancie?.uploadDate}}</h6>
                        <p class="card-text">{{vacancie?.jobDescription | slice:0:130}}</p>
                        <p class="card-text">Contact Person: {{vacancie?.contactPerson}}
                            <button type="submit" [routerLink]="['../vacancy-listing', vacancie.id ]" class="btn btn-light btn-sm float-right">
                                <span class="fa fa-eye"></span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'vacancy-listing/'+ vacancie.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-light btn-sm float-right">
                                <span class="fa fa-pencil-square-o"></span>
                            </button>
                        </p>
                    </div>
                </div>
            <br>
            </div>
                <button type="submit" [routerLink]="['/', { outlets: { popup: 'vacancy-listing-new'}}]" class="btn btn-light btn-sm">
                    <span class="fa fa-briefcase"></span>
                    <span class="d-none d-md-inline">Add Vacancy</span>
                </button>
        </div>
    </div>
<!-- 
    <h2>
        <span jhiTranslate="fmsApp.employeer.home.title">Employeers</span>
        <button class="btn btn-primary float-right jh-create-entity create-employeer" [routerLink]="['/', { outlets: { popup: ['employeer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="fmsApp.employeer.home.createLabel">
            Create new Employeer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="employeers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="fmsApp.employeer.employeerName">Employeer Name</span></th>
            <th><span jhiTranslate="fmsApp.employeer.lastActive">Last Active</span></th>
            <th><span jhiTranslate="fmsApp.employeer.companyRegistrationNumber">Company Registration Number</span></th>
            <th><span jhiTranslate="fmsApp.employeer.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeer of employeers ;trackBy: trackId">
                <td><a [routerLink]="['../employeer', employeer.id ]">{{employeer.id}}</a></td>
                <td>{{employeer.employeerName}}</td>
                <td>{{employeer.lastActive | date:'mediumDate'}}</td>
                <td>{{employeer.companyRegistrationNumber}}</td>
                <td>
                    {{employeer.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../employeer', employeer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employeer/'+ employeer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employeer/'+ employeer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    -->
</div>
