
<div *ngIf="phoneNumber">
    <h2><span jhiTranslate="fmsApp.phoneNumber.detail.title">Phone Number</span> {{phoneNumber.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="fmsApp.phoneNumber.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{phoneNumber.phoneNumber}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.phoneNumber.phoneType">Phone Type</span></dt>
        <dd>
            <span>{{phoneNumber.phoneType}}</span>
        </dd>
        <dt><span jhiTranslate="fmsApp.phoneNumber.jobseeker">Jobseeker</span></dt>
        <dd>
            <div *ngIf="phoneNumber.jobseeker">
                <a [routerLink]="['/jobseeker', phoneNumber.jobseeker?.id]">{{phoneNumber.jobseeker?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'phone-number/'+ phoneNumber.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
